
.sec1{
    text-align: center;
    word-spacing: 160px;
    height:10vh;
    margin-bottom: 10vh;
}
.nav1{
    color: black;
}

.a1{
    text-decoration: none;
    font-size: larger;
    color: black;
}
.a1:hover{
    text-decoration: underline;
    color:white;
    transition-duration: 0s;
    color: black;
    opacity: trasition all ease;

}
.sec2{
    text-align: center;
    margin-bottom: 30vh;
}
.s1{
    font-size: medium;
    font-weight: 700;
    text-align: center;
    color:blue;
}
.s2{
    width:300px;
    font-weight: 600;
    color:rgb(177, 47, 69);

}
.sec3{
    align-items: center;
    text-align: center;
    margin-top:100px;
    background-color: blueviolet;
    align-items: center;
    width:150vh;
    margin-left: 30vh;
    height:40vh;
    padding-top:2vh ;
    padding-bottom:10vh ;
    
}
.box{
    width:120vh;
    height:50vh;
    margin: 60px auto;
    display: flex;
    border-color:black;

}
.i1{
    display: flex;
    width:250px;
    height:200px;
    object-fit: contain;
}
h3{
    margin-left: 15px;
    text-align: left;
    color:orangered;
}
.div1{
    width:300px;
    margin-bottom: 30px;
    padding-bottom: 30px;
    margin-left:20px;
}
p{
        text-align: left;
        margin-left:px;

}
.p1{
    margin-left:12px;
    margin-right:10px;
    font-weight: 600;
    font-size: medium;
}

.span{
width:300px;    
}
h1{
    color:blue;
}
.sec4 h2{
    text-align: left;
    margin-top: 5px;
    display: flex;
    flex-direction: rows;
}
.i2{
    align-items: center;
    width:300px;
    box-shadow: 0px 8px 12px rebeccapurple;
    margin-left:10px;
    margin-right:10px;

}
.sec4{
    display: flex;
    height:10vh;
    justify-content: center;
}

.sec5{
    margin-top:60vh;
}
.link{
    width:15px;
    margin-left: 10px;
}
 .s9   {
    text-decoration: none;
}